#pattern  filter=crypt diff=crypt merge=crypt
autoscan.yaml filter=crypt diff=crypt merge=crypt
homer.yaml filter=crypt diff=crypt merge=crypt
secrets.yaml filter=crypt diff=crypt merge=crypt
.env filter=crypt diff=crypt merge=crypt
