(cors) {
	header {
		Access-Control-Allow-Origin https://dashboard.antoinebouteiller.duckdns.org
	}
}

{$DOMAIN} {
	reverse_proxy overseerr:5055
}

sonarr.{$DOMAIN} {
	reverse_proxy sonarr:8989
}

radarr.{$DOMAIN} {
	reverse_proxy radarr:7878
}

prowlarr.{$DOMAIN} {
	reverse_proxy prowlarr:9696
}

qbittorrent.{$DOMAIN} {
	import cors

	reverse_proxy {
        to qbittorrent:8080
		
		header_up X-Forwarded-For {remote}
		header_up Host {host}
		header_up X-Forwarded-Proto {scheme}
    }
}

tautulli.{$DOMAIN} {
	import cors

	reverse_proxy tautulli:8181
}

dashboard.{$DOMAIN} {
    handle {
    	@not-local not remote_ip 90.22.233.238 192.168.1.0/24
		basic_auth @not-local {
			{$HTTP_BASIC_AUTH_USER} {$HTTP_BASIC_AUTH_PASSWORD}
		}
		reverse_proxy homer:8080
    }

	handle_errors {
        respond "{http.error.status_code} {http.error.status_text}"
    } 
}

plex.{$DOMAIN} {
	reverse_proxy host.docker.internal:32400
}

