(cors) {
	@origin header Origin {args.0}
	header @origin {
		Access-Control-Allow-Origin "{args.0}"
		Access-Control-Request-Method "GET, POST, PUT, PATCH, DELETE, OPTIONS"
	}
}

{$DOMAIN} {
	reverse_proxy overseerr:5055
}

sonarr.{$DOMAIN} {
	reverse_proxy sonarr:8989
}

radarr.{$DOMAIN} {
	reverse_proxy radarr:7878
}

prowlarr.{$DOMAIN} {
	reverse_proxy prowlarr:9696
}

qbittorrent.{$DOMAIN} {
	reverse_proxy qbittorrent:8080
}

tautulli.{$DOMAIN} {
	reverse_proxy tautulli:8181
}

dashboard.{$DOMAIN} {
    # @not-local not remote_ip 90.22.233.238
    basic_auth {
		kalva {$PASSWORD}
	}
	reverse_proxy homer:8080
}

plex.{$DOMAIN} {
	reverse_proxy host.docker.internal:32400
}

