include:
  - path: ./docker/compose.arr.yaml
  - path: ./docker/compose.plex.yaml
  - path: ./docker/compose.qbittorrent.yaml
  - path: ./docker/compose.scripts.yaml
  - path: ./docker/compose.caddy.yaml
services:
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - //var/run/docker.sock:/var/run/docker.sock
  scheduler:
    image: mcuadros/ofelia:latest
    container_name: scheduler
    depends_on:
      - plextraktsync
    command: daemon --docker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      ofelia.job-run.plextraktsync.schedule: "@every 6h"
      ofelia.job-run.plextraktsync.container: "plextraktsync"
