services:
  common:
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: 1m
        max-file: 1
    environment:
      - PUID=${PUID}
      - GUID=${GUID}
      - TZ=${TZ}
    extra_hosts:
      - 'host.docker.internal:host-gateway'
