services:
  autoscan:
    container_name: autoscan
    build:
      context: ../autoscan/
    volumes:
      - ${APP_PATH}/autoscan:/autoscan/resources
      - ../configs/autoscan.yml:/autoscan/resources/autoscan.yml
      - ${DATA_PATH}:/data
    restart: unless-stopped
  recyclarr:
    image: ghcr.io/recyclarr/recyclarr
    container_name: recyclarr
    extends:
      file: ./compose.common.yaml
      service: common
    links:
      - sonarr
      - radarr
    user: ${USER_ID}:${GROUP_ID}
    volumes:
      - ${APP_PATH}/recyclarr:/config
      - ../configs/recyclarr.yaml:/config/recyclarr.yaml
      - ../configs/secrets.yaml:/config/secrets.yaml
