services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    extends:
      file: compose.common.yaml
      service: common
    environment:
      - VERSION=docker
    volumes:
      - ${APP_PATH}/plex:/config/Library/Application Support/Plex Media Server
      - ${DATA_PATH}:/mnt/data
      - ${MOVIES_PATH}:/mnt/movies
      - /tmp/plex:/transcode
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    extends:
      file: compose.common.yaml
      service: common
    volumes:
      - ${APP_PATH}/jellyseerr/:/app/config
    links:
      - sonarr
      - radarr
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    extends:
      file: compose.common.yaml
      service: common
    environment:
      HOMEPAGE_ALLOWED_HOSTS: dashboard.${DOMAIN}

      HOMEPAGE_VAR_DOMAIN: ${DOMAIN}

      HOMEPAGE_VAR_SONARR_API_URL: ${SONARR_API_URL}
      HOMEPAGE_VAR_SONARR_API_KEY: ${SONARR_API_KEY}

      HOMEPAGE_VAR_RADARR_API_URL: ${RADARR_API_URL}
      HOMEPAGE_VAR_RADARR_API_KEY: ${RADARR_API_KEY}

      HOMEPAGE_VAR_BAZARR_API_URL: ${BAZARR_API_URL}
      HOMEPAGE_VAR_BAZARR_API_KEY: ${BAZARR_API_KEY}

      HOMEPAGE_VAR_PROWLARR_API_URL: ${PROWLARR_API_URL}
      HOMEPAGE_VAR_PROWLARR_API_KEY: ${PROWLARR_API_KEY}

      HOMEPAGE_VAR_PLEX_URL: ${PLEX_URL}
      HOMEPAGE_VAR_PLEX_TOKEN: ${PLEX_TOKEN}

      HOMEPAGE_VAR_QBITTORRENT_API_URL: ${QBITORRENT_API_URL}
    volumes:
      - ../configs/homepage/services.yaml:/app/config/services.yaml
      - ../configs/homepage/settings.yaml:/app/config/settings.yaml
      - ../configs/homepage/bookmarks.yaml:/app/config/bookmarks.yaml
      - ../configs/homepage/docker.yaml:/app/config/docker.yaml
      - ../configs/homepage/widgets.yaml:/app/config/widgets.yaml
      - ${APP_PATH}/homepage:/app/config
      - //var/run/docker.sock:/var/run/docker.sock:ro # optional, for docker integrations
      - /mnt/data:/mnt/data:ro
    links:
      - sonarr
      - radarr
      - bazarr
      - prowlarr
      - jellyseerr
      - qbittorrent
