services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    ports:
      - 32400:32400
    environment:
      - VERSION=docker
    extends:
      file: compose.common.yaml
      service: common
    volumes:
      - ${APP_PATH}/plex:/config/Library/Application Support/Plex Media Server
      - ${DATA_PATH}:/data
      - /tmp/plex:/transcode
  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    extends:
      file: compose.common.yaml
      service: common
    volumes:
      - ${APP_PATH}/overseerr/:/config
    links:
      - sonarr
      - radarr