services:
  plextraktsync:
    image: mcuadros/ofelia:latest
    container_name: plextraktsync
    restart: unless-stopped
    command: daemon --docker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      ofelia.job-run.plextraktsync.schedule: "@every 6h"
      ofelia.job-run.plextraktsync.image: ghcr.io/taxel/plextraktsync
      ofelia.job-run.plextraktsync.command: "sync"
      ofelia.job-run.plextraktsync.volume: "${APP_PATH}/plextraktsync:/app/config"
      ofelia.job-run.plextraktsync.remove: "true"
  autoscan:
    container_name: autoscan
    build:
      context: ../autoscan/
    volumes:
      - ${APP_PATH}/autoscan:/autoscan/resources
      - ../configs/autoscan.yaml:/autoscan/resources/autoscan.yaml
      - ${DATA_PATH}:/mnt/data
      - ${MOVIES_PATH}:/mnt/movies
    extends:
      file: ./compose.common.yaml
      service: common
    ports:
      - 3030:3030
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
  recyclarr:
    image: ghcr.io/recyclarr/recyclarr
    container_name: recyclarr
    extends:
      file: ./compose.common.yaml
      service: common
    links:
      - sonarr
      - radarr
    volumes:
      - ${APP_PATH}/recyclarr:/config
      - ../configs/recyclarr.yaml:/config/recyclarr.yaml
      - ../configs/secrets.yaml:/config/secrets.yaml
