services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - VERSION=docker
    extends:
      file: compose.common.yaml
      service: common
    volumes:
      - ${APP_PATH}/plex:/config/Library/Application Support/Plex Media Server
      - ${DATA_PATH}:/mnt/data
      - ${MOVIES_PATH}:/mnt/movies
      - /tmp/plex:/transcode
  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    extends:
      file: compose.common.yaml
      service: common
    volumes:
      - ${APP_PATH}/overseerr/:/config
    links:
      - sonarr
      - radarr
  tautulli:
    image: ghcr.io/tautulli/tautulli
    container_name: tautulli
    extends:
      file: compose.common.yaml
      service: common
    environment:
      - PLEX_URL=${PLEX_URL}
      - PLEX_TOKEN=${PLEX_TOKEN}
    volumes:
      - ${APP_PATH}/tautulli/:/config
      - ../scripts/:/scripts
  homer:
    image: b4bz/homer
    container_name: homer
    volumes:
      - ../configs/homer.yaml:/www/assets/config.yml
      - ../configs/assets:/www/assets
    extends:
      file: compose.common.yaml
      service: common
