services:
  scheduler:
    image: mcuadros/ofelia:latest
    container_name: scheduler
    restart: unless-stopped
    depends_on:
      - plextraktsync
    command: daemon --docker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      ofelia.job-run.plextraktsync.schedule: "@every 6h"
      ofelia.job-run.plextraktsync.container: "plextraktsync"
  autoscan:
    container_name: autoscan
    build:
      context: ../autoscan/
    volumes:
      - ${APP_PATH}/autoscan:/autoscan/resources
      - ../configs/autoscan.yaml:/autoscan/resources/autoscan.yaml
      - ${DATA_PATH}:/mnt/data
      - ${MOVIES_PATH}:/mnt/movies
    extends:
      file: ./compose.common.yaml
      service: common
    ports:
      - 3030:3030
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
  recyclarr:
    image: ghcr.io/recyclarr/recyclarr
    container_name: recyclarr
    extends:
      file: ./compose.common.yaml
      service: common
    links:
      - sonarr
      - radarr
    volumes:
      - ${APP_PATH}/recyclarr:/config
      - ../configs/recyclarr.yaml:/config/recyclarr.yaml
      - ../configs/secrets.yaml:/config/secrets.yaml
  plextraktsync:
    image: ghcr.io/taxel/plextraktsync
    container_name: plextraktsync
    command: sync
    extends:
      file: compose.common.yaml
      service: common
    restart: on-failure:2
    volumes:
      - ${APP_PATH}/plextraktsync:/app/config
