services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - VERSION=docker
    extends:
      file: compose.common.yaml
      service: common
    volumes:
      - ${APP_PATH}/plex:/config/Library/Application Support/Plex Media Server
      - ${DATA_PATH}:/mnt/data
      - ${MOVIES_PATH}:/mnt/movies
      - /tmp/plex:/transcode
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    extends:
      file: compose.common.yaml
      service: common
    volumes:
      - ${APP_PATH}/jellyseerr/:/app/config
    links:
      - sonarr
      - radarr
  homer:
    image: b4bz/homer
    container_name: homer
    volumes:
      - ../homer:/www/assets
    extends:
      file: compose.common.yaml
      service: common
