services:
  common:
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 2
    environment:
      - PUID=${PUID}
      - GUID=${GUID}
      - TZ=${TZ}
    extra_hosts:
      - "host.docker.internal:host-gateway"
