services:
  caddy:
    container_name: caddy
    image: caddy:latest
    restart: unless-stopped
    environment:
      - DOMAIN=${DOMAIN}
    cap_add:
      - NET_ADMIN
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ../Caddyfile:/etc/caddy/Caddyfile
      - ${APP_PATH}/caddy/srv:/srv
      - ${APP_PATH}/caddy/data:/data
      - ${APP_PATH}/caddy/config:/config
    links:
      - sonarr
      - radarr
      - bazarr
      - prowlarr
      - overseerr
      - tautulli
      - plex
      # - qbittorrent
