services:
  authelia:
    container_name: "authelia"
    image: "docker.io/authelia/authelia:latest"
    extends:
      file: ./compose.common.yaml
      service: common
    environment:
      - X_AUTHELIA_CONFIG_FILTERS=template
      - AUTHELIA_STORAGE_ENCRYPTION_KEY=${AUTHELIA_STORAGE_ENCRYPTION_KEY}
      - AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET=${AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET}
      - AUTHELIA_SESSION_SECRET=${AUTHELIA_SESSION_SECRET}
      - DOMAIN=${DOMAIN}
      - GRAFANA_CLIENT_ID=${GRAFANA_CLIENT_ID}
      - GRAFANA_CLIENT_SECRET=${GRAFANA_CLIENT_SECRET}
    ports:
      - "9091:9091"
    volumes:
      - ../configs/authelia.yaml:/config/configuration.yml
      - ../authelia:/config/secrets
      - ${APP_PATH}/authelia:/config
  caddy:
    container_name: caddy
    image: caddy:latest
    cap_add:
      - NET_ADMIN
    environment:
      - DOMAIN=${DOMAIN}
    ports:
      - "80:80"
      - "443:443"
    extends:
      file: ./compose.common.yaml
      service: common
    volumes:
      - ../Caddyfile:/etc/caddy/Caddyfile
      - ${APP_PATH}/caddy/srv:/srv
      - ${APP_PATH}/caddy/data:/data
      - ${APP_PATH}/caddy/config:/config
    links:
      - authelia
      - sonarr
      - radarr
      - homer
      - prowlarr
      - overseerr
      - tautulli
      - qbittorrent
      - plex
      - grafana
      - loki
