services:
  caddy:
    container_name: caddy
    image: caddy:latest
    restart: unless-stopped
    environment:
      - DOMAIN=${DOMAIN}
      - PASSWORD=${PASSWORD}
    cap_add:
      - NET_ADMIN
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ../Caddyfile:/etc/caddy/Caddyfile
      - ${APP_PATH}/caddy/srv:/srv
      - ${APP_PATH}/caddy/data:/data
      - ${APP_PATH}/caddy/config:/config
    extra_hosts:
      - "host.docker.internal:host-gateway"
    links:
      - sonarr
      - radarr
      - homer
      - prowlarr
      - overseerr
      - tautulli
      - qbittorrent
      - plex
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - //var/run/docker.sock:/var/run/docker.sock
  scheduler:
    image: mcuadros/ofelia:latest
    container_name: scheduler
    restart: unless-stopped
    depends_on:
      - plextraktsync
    command: daemon --docker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      ofelia.job-run.plextraktsync.schedule: "@every 6h"
      ofelia.job-run.plextraktsync.container: "plextraktsync"
