services:
  plextraktsync:
    image: mcuadros/ofelia:latest
    container_name: plextraktsync
    restart: unless-stopped
    command: daemon --docker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      ofelia.job-run.plextraktsync.schedule: "@every 6h"
      ofelia.job-run.plextraktsync.image: ghcr.io/taxel/plextraktsync
      ofelia.job-run.plextraktsync.command: "sync"
      ofelia.job-run.plextraktsync.volume: "${APP_PATH}/plextraktsync:/app/config"
      ofelia.job-run.plextraktsync.remove: "true"
  autoscan:
    image: antobouteiller/autoscan:latest
    container_name: autoscan
    extends:
      file: ./compose.common.yaml
      service: common
    ports:
      - 3030:3030
    environment:
      - PLEX_TOKEN=${PLEX_TOKEN}
      - PLEX_URL=${PLEX_URL}
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - TELEGRAM_CHAT_ID=${TELEGRAM_CHAT_ID}
      - TMDB_API_TOKEN=${TMDB_API_TOKEN}
      - TMDB_API_URL=${TMDB_API_URL}
      - SONARR_API_URL=${SONARR_API_URL}
      - SONARR_API_KEY=${SONARR_API_KEY}
      - RADARR_API_URL=${RADARR_API_URL}
      - RADARR_API_KEY=${RADARR_API_KEY}
    volumes:
      - ${APP_PATH}/autoscan:/autoscan/resources
      - ${DATA_PATH}:/mnt/data
      - ${MOVIES_PATH}:/mnt/movies      - "com.centurylinklabs.watchtower.enable=false"
  recyclarr:
    image: ghcr.io/recyclarr/recyclarr
    container_name: recyclarr
    extends:
      file: ./compose.common.yaml
      service: common
    links:
      - sonarr
      - radarr
    environment:
      - SONARR_API_URL=${SONARR_API_URL}
      - SONARR_API_KEY=${SONARR_API_KEY}
      - RADARR_API_URL=${RADARR_API_URL}
      - RADARR_API_KEY=${RADARR_API_KEY}
    volumes:
      - ${APP_PATH}/recyclarr:/config
      - ../configs/recyclarr.yaml:/config/recyclarr.yaml
