services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - VERSION=docker
    extends:
      file: compose.common.yaml
      service: common
    volumes:
      - ${APP_PATH}/plex:/config/Library/Application Support/Plex Media Server
      - ${DATA_PATH}:/mnt/data
      - ${MOVIES_PATH}:/mnt/movies
      - /tmp/plex:/transcode
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    extends:
      file: compose.common.yaml
      service: common
    volumes:
      - ${APP_PATH}/jellyseerr/:/app/config
    links:
      - sonarr
      - radarr
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    extends:
      file: compose.common.yaml
      service: common
    environment:
      HOMEPAGE_ALLOWED_HOSTS: dashboard.${DOMAIN}
    volumes:
      - ../configs/homepage/services.yaml:/app/config/services.yaml
      - ../configs/homepage/settings.yaml:/app/config/settings.yaml
      - ${APP_PATH}/homepage:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro # optional, for docker integrations
    restart: unless-stopped
