# yaml-language-server: $schema=https://www.authelia.com/schemas/v4.39/json-schema/configuration.json
---
theme: 'dark'

server:
  endpoints:
    authz:
      forward-auth:
        implementation: 'ForwardAuth'

identity_validation:
  reset_password:
    jwt_lifespan: '5 minutes'
    jwt_algorithm: 'HS256'

authentication_backend:
  file:
    path: '/config/users.yml'
    password:
      algorithm: 'argon2'

password_policy:
  zxcvbn:
    enabled: true
    min_score: 3

identity_providers:
  oidc:
    clients:
      - client_id: 'cloudflare'
        client_name: 'Recipes Manager'
        client_secret: '$pbkdf2-sha512$310000$c8p78n7pUMln0jzvd4aK4Q$JNRBzwAo0ek5qKn50cFzzvE9RXV88h1wJn5KGiHrD0YKtZaR/nCb2CJPOsKaPK0hjf.9yHxzQGZziziccp6Yng' # The digest of 'insecure_secret'.
        public: false
        require_pkce: true
        pkce_challenge_method: 'S256'
        redirect_uris:
          - 'https://recipes.{{ mustEnv "DOMAIN" }}/api/auth/callback'
        scopes:
          - 'openid'
          - 'profile'
          - 'email'
        response_types:
          - 'code'
        grant_types:
          - 'authorization_code'
        access_token_signed_response_alg: 'none'
        userinfo_signed_response_alg: 'none'
        token_endpoint_auth_method: 'client_secret_basic'

access_control:
  default_policy: 'deny'

  networks:
    - name: 'internal'
      networks:
        - '10.0.0.0/8'
        - '172.16.0.0/12'
        - '192.168.0.0/18'
  rules:
    - domain: '*.{{ mustEnv "DOMAIN" }}'
      policy: 'bypass'
      networks:
        - 'internal'
    - domain: '*.{{ mustEnv "DOMAIN" }}'
      policy: 'one_factor'

session:
  cookies:
    - name: 'authelia_session'
      domain: '{{ mustEnv "DOMAIN" }}'
      authelia_url: 'https://auth.{{ mustEnv "DOMAIN" }}'

regulation:
  max_retries: 3
  find_time: '2 minutes'

  ban_time: '5 minutes'

storage:
  local:
    path: '/config/db.sqlite3'

notifier:
  disable_startup_check: false

  filesystem:
    filename: '/config/notification.txt'
